body {
    background-color: black;
    z-index: 0;
}

nav {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: fit-content;
    z-index: 1;
}

.nav_left {
    padding-top: 3%;
    padding-bottom: 1%;
    margin-top: -15px;
    margin-left: 2%;
    width: 39%;
    float: left;
}

.nav_left img {
    width: 50%;

}

.nav_right {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 40%;
    float: right;
    color: white;

}

.nav_li {
    display: inline-flex;
    margin: 0% 2% 0% 2%;
    flex-wrap: nowrap;

}


/* --------------- main ------------------  */

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

}

.main {
    padding: 0px 7% 0px 7%;
}

/* --------------- header ------------------  */

header {
    height: 20%;
    background-image: url("../imgs/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    align-items: center;

}

header .main {
    padding-top: 10%;
}

header p {
    margin-top: 8%;
    margin-bottom: 4%;
}


.header_p p:first-child {
    float: left;

}

.header_p p:last-child {
    float: right;
}

/* --------------- wrapper ------------------  */

.wrapper {
    padding-top: 5%;
    margin-right: 15%;

}

.wrapper p {
    margin-top: 5%;
}

/* --------------- trademarks ------------------  */

.trade {
    background-color: white;
    color: black;
}

.trade_text {
    /* height: 500px; */
    margin-top: 10%;
    margin-bottom: 7%;
}

.trade_left {
    float: left;
    width: 70%;

}

.trade_right {
    width: 30%;
    float: right;
    text-align: right;
}

.icons_flex {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icons_grid {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    column-gap: 10px;
    row-gap: 30%;
    margin-bottom: 10%;


}

.item{
    text-align: center;
    padding: 3%;
    margin: 2%;
}

.item img {
    height: 50px;
    margin: auto;
}

.item p {
    margin: 10px;
}

/* --------------- double ------------------  */

.double {
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.db {
    color: white;
    text-align: left;
}

.db_left {
    position: relative;
    z-index: 0;
    width: 50%;
    height: 600px;
    float: left;
    overflow: hidden;
}

.back_left {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 100%;

}

#back_hd_left {
    background: url("../imgs/header.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.db_text_left {
    position: absolute;
    height: fit-content;
    z-index: 1;
    margin-right: 2%;
}

.db_right {
    position: relative;
    z-index: 0;
    width: 50%;
    height: 600px;
    float: right;
    overflow: hidden;
}

.back_right {
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 100%;

}

#back_hd_right {
    background: url(../imgs/girl.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.db_text_right {
    position: absolute;
    height: fit-content;
    z-index: 1;
    margin-right: 2%;

}

.db_p {
    padding-top: 35%;
    padding-left: 10%;
}

.db_paragraph {
    padding-left: 10%;
}


/* ---------------news ------------------  */


.news {
    padding-top: 10%;
    height: fit-content;
    color: white;

}

.news_nav {
    height: 100px;

}

.news_left {
    float: left;
}

.news_right {
    float: right;
}

.news_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10%;
}

.nw {
    flex-wrap: nowrap;
    flex-grow: 0;
}

.news_1,
.news_2 {
    margin-right: 2%;
}

.news_3,
.news_4 {
    margin-left: 2%;
}

.nw img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: top;
    align-items: center;
}

.nw .little {
    opacity: 0.6;
}

.nw p {
    margin-top: 2%;
}

/* --------------- contact ------------------  */

.side_1,
.side_2 {
    height: 50%;
    padding-bottom: 4%;
}

.side_1 {
    background-color: #223044;
}

.side_2 {
    background-color: #2e2147
}

.side_left img,
.side_left img {
    height: 70px;
    margin-top: 10%;
}

.side_left input {
    padding: 2% 3%;
    border: 1px transparent;
    border-radius: 5px;
    margin-top: 3%;
    cursor: pointer;
}

.side_1 input {
    color: white;
    background-color: #00c6a5;
}

.side_2 input {
    color: white;
    background-color: #e2527a
}

.side_left {
    height: 100%;
    width: 50%;
    float: left;
}

.side_right_web2 {
    float: right;
    width: 50%;
    height: 400px;
    margin-top: 4%;
    background-image: url("../imgs/web2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.side_right_web {
    float: right;
    width: 50%;
    height: 400px;
    margin-top: 4%;
    background-image: url("../imgs/web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.side_left p.matrix {
    margin-top: 10%;
    margin-bottom: 10%;
}

.side_left p.little {
    opacity: 0.6;
}

/* --------------- contact double ------------------  */



#back_ft_left {
    background: url(../imgs/work.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#back_ft_right {
    background: url(../imgs/office.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.ft_text {
    text-align: center;
    position: relative;
    top: 50%;
}


/* ---------------  contact ------------------  */

.contact {
    display: inline-block;
    background-color: #5b41dd;
    background-size: cover;
}

.contact_left,
.contact_right {
    margin-bottom: 5%;
    height: 100%;
    width: 50%;
}

.contact_left {
    margin-top: 15%;
    float: left;
}

.contact_right {
    margin-top: 10%;
    float: right;

}

.contact_left p:first-child {
    padding-right: 11%;
}

.mail {
    float: right;
    text-align: left;
    width: 75%;
    margin-top: 5%;
}

#git {
    display: flex;
    vertical-align: baseline;
}

#git img {
    padding-top: 20%;
    padding-right: 20%;
    color: white;
    width: 32px;

}

#git p {
    padding-top: 10px;
    padding-left: 20px;
}

.photo {
    width: 20%;
    height: auto;
    border-radius: 150px;
    padding: 10px;
}

/* --------------- contact form ------------------  */


::placeholder {
    color: white;
}

form input,
form select,
form textarea {
    text-align: justify;
    padding-left: 2%;
    color: white;
    border: 1px transparent;
    border-radius: 5px;
    background-color: #4f3ab6;
    height: 60px;
    margin: 2%;
}

.form_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#mail,
#fname,
#phone,
#help {
    width: 50%;
}

#label {
    width: 70%;

}

#label:after {
    background: #4f3ab6;
    ;
}

#checkbox {
    height: 20px;
    width: 20px;
    color: #4f3ab6;
    border: 1px transparent;
    border-radius: 4px;
}

.form_column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    text-align: center;
    cursor: pointer;
}

.attach {
    border: 2px solid white;
    border-style: dashed;
}

.submit {
    width: 30%;
}


/* --------------- footer  ------------------  */

/* 
footer{
    display: flex;
    flex-direction: row;
} */

.places {
    margin-top: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.places_content {
    display: block;
    padding: 2%;
    justify-content: start;
}


/* --------------- footer lower  ------------------  */


.lower-menu {
    margin-top: 30%;
    margin-bottom: 10%;
    display: inline-flex;
    float: left;
}

.lower li {
    margin-right: 20px;
}


.lower-span {
    margin-top: 30%;
    margin-bottom: 10%;
    float: right;
    height: 50%;

}

.lower-menu.little,
.lower-span.little {
    opacity: 0.6;
}